body {
	font-family: 'Open Sans', sans-serif;
	color:#444444;
	background:#fff;
	font-weight:400;
	font-size:14px;
	line-height:24px;
	padding:0;
	margin:0;
  padding-top:80px;
}

a{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:focus,
a:active{
  outline:none;
  text-decoration:none;
}

h1, h2, h3, h4, h5, h6{
	font-weight:700;
	letter-spacing:2px;
	margin:0 0 20px 0;
	color:#111111;
}

.intro h1,
.intro h2,
.intro h3,
.intro h4,
.intro h5,
.intro h6,
.solid-primary-bg h1,
.solid-primary-bg h2,
.solid-primary-bg h3,
.solid-primary-bg h4,
.solid-primary-bg h5,
.solid-primary-bg h6,
.pattern-primary-bg h1,
.pattern-primary-bg h2,
.pattern-primary-bg h3,
.pattern-primary-bg h4,
.pattern-primary-bg h5,
.pattern-primary-bg h6,
.solid-secondary-bg h1,
.solid-secondary-bg h2,
.solid-secondary-bg h3,
.solid-secondary-bg h4,
.solid-secondary-bg h5,
.solid-secondary-bg h6,
.pattern-secondary-bg h1,
.pattern-secondary-bg h2,
.pattern-secondary-bg h3,
.pattern-secondary-bg h4,
.pattern-secondary-bg h5,
.pattern-secondary-bg h6,
.screenshot h1,
.screenshot h2,
.screenshot h3,
.screenshot h4,
.screenshot h5,
.screenshot h6,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6{
	color:#fff;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
	font-weight:400;
}

h1{
	font-size:56px;
	line-height:62px;
}

h2{
	font-size:42px;
	line-height:48px;
}

h3{
	font-size:34px;
	line-height:46px;
}

h4{
	font-size:24px;
	line-height:30px;
}

h5{
	font-size:18px;
	line-height:24px;
}

h6{
	font-size:14px;
	line-height:20px;
}

p{
	margin:0 0 20px 0;
}

.relative{
	position:relative;
}

.absolute{
	position:absolute;
}

.img-responsive{
	display:inline-block;
}

.alignleft{
	float:left;
	margin:0 20px 20px 0;
}

.alignright{
	float:right;
	margin:0 0 20px 20px;
}

pre{
	background:#e4e8ea;
	color:#2c323a;
	border:1px solid #b6c1c6;
}

code{
	border-radius:2px;
	color:#2c323a;
}

/*
Blockquote
================================== */
blockquote{
	background:url(/images/quote.png) no-repeat 0 0;
	border:none;
	margin:0;
	padding:5px 0 0 10px;
	font-size:18px;
	line-height:28px;
}

/*
Navbar
================================== */
.navbar {
  min-height: 60px;
  font-weight:400;
  margin-bottom: 0;
  border:0;
  border-radius: 0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.navbar-default {
  float:left;
  width:100%;
  border:none;
  background:#fff;
}

.navbar-header{
	margin:0;
	padding:5px 40px 8px 0;
}

.navbar-brand{
	margin:0;
	padding:0;
	height: 80px;
}

.navbar-default .collapse{
  float:left;
  margin-left:40px;
  margin-top:0;
  border:none;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:focus{
	font-size:14px;
	line-height:18px;
	font-weight:700;
	text-transform:uppercase;
	color:#23262a;
	padding:35px 0 35px 0;
	margin:0 25px 0 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a.selected,
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .dropdown.active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .dropdown.active a:hover,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .dropdown.active a:focus{
	background:none;
	border:none;
	border-radius:0;
}

.navbar-default .navbar-nav .dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding:0;
  margin:0;
  font-size: 14px;
  list-style: none;
  color:#353535;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(27, 27, 27, 0.1);
          box-shadow: 0 1px 2px rgba(27, 27, 27, 0.1);
  background-clip: padding-box;
}

.navbar-default .navbar-nav .dropdown-menu li,
.navbar-dark .navbar-nav .dropdown-menu li,
.navbar-light .navbar-nav .dropdown-menu li{
	padding:0;
}

.navbar-default .navbar-nav .dropdown-menu li a,
.navbar-default .navbar-nav .dropdown.active .dropdown-menu li a{
  color:#353535;
  border-bottom: 1px dotted #cccccc;
  padding:12px 15px 12px 15px;
  margin:0;
}

.navbar-default .navbar-nav .dropdown-menu li a:hover,
.navbar-default .navbar-nav .dropdown-menu li a:focus,
.navbar-default .navbar-nav .dropdown.active .dropdown-menu li a:hover,
.navbar-default .navbar-nav .dropdown.active .dropdown-menu li a:focus{
  text-decoration:none;
  background:#fbfbfb;
}

.navbar-nav .dropdown-menu .dropdown i{
	position:absolute;
	right:15px;
}

.navbar-nav .dropdown-menu .sub-menu-level1, .navbar-nav .dropdown-menu .sub-menu-level2 {
	left:100%;
	position:absolute;
	top:0;
	visibility:hidden;
	margin-top:-1px;
}

.dropdown-menu li:hover .sub-menu-level1 {
	visibility:visible;
}

.dropdown-menu li li:hover .sub-menu-level2 {
	visibility:visible;
}

.nav-right-area{
	float:right;
	position:relative;
	margin:30px 0 0 0;
	padding:0;
}

.nav-right-area li{
	list-style:none;
	float:left;
	margin:0;
	padding:0 0 0 15px;
}

.nav-right-area li.first{
	border-right:1px solid #d8d8d8;
	padding-right:15px;
}

.nav-right-area li a{
	font-size:14px;
	line-height:14px;
	font-weight:700;
	text-transform:uppercase;
}

.navbar-default .navbar-collapse .nav select{
  border:1px solid #7e7e7e;
  color:#444444;
  font-size:14px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	width:160px;
	padding:5px 10px 5px 10px;
	display:none;
	margin:5px 0 0 0;
}

/*
Accordion
=========================== */
.accordion-heading a{
	position:relative;
	color:#444444;
	background:none;
	border:1px solid #444444;
	display:block;
	padding:20px 0 20px 50px;
	border-radius:40px;
	margin-bottom:3px;
	font-size:16px;
	line-height:12px;
	font-weight:700;
	text-align:left;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.accordion-heading a i{
	position:absolute;
	font-size:14px;
	line-height:23px;
	top:15px;
	left:15px;
	background:#444444;
	color:#fff;
	border-radius:50%;
	width:24px;
	height:24px;
	text-align:center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.accordion-heading a:hover{
	background:none;
	text-decoration:none;
}

.accordion-heading a:hover i{
	color:#fff;
}

.accordion-inner{
	position:relative;
	background:none;
	border:1px solid #444444;
	color:#2c323a;
	padding:20px;
	margin:0 0 20px 0;
	border-radius:10px;
}

/*
Pagination
=========================== */
.pagination{
	margin:-20px 0 0 0;
	width:100%;
}

.pagination.centered{
	text-align:center;
}

.pagination li{
	float:none;
	display:inline-block;
}

.pagination li a,
.pagination li a:focus,
.pagination li a:active{
	background:none;
	margin:0 5px 0 5px;
	color:#23262a;
	border:1px solid #23262a;
}

.pagination li a:hover{
	background:none;
}

.pagination li.disabled a,
.pagination li.active a,
.pagination li.disabled a:hover,
.pagination li.active a:hover,
.pagination li.disabled a:focus,
.pagination li.active a:focus,
.pagination li.disabled a:active,
.pagination li.active a:active{
	color:#fff;
}

.pager li > a,
.pager li > span,
.pager li > a:focus,
.pager li > span:focus,
.pager li > a:active,
.pager li > span:active{
  display: inline-block;
  padding: 5px 14px;
  background: none;
  border: 3px solid #fff;
  border-radius: 2px;
  color:#fff;
}

.pager li > a:hover,
.pager li > span:hover{
	background: none;
}

/*
Form
=========================== */
.form-control{
  padding:10px 25px 10px 25px;
  height:50px;
  border-radius:40px;
  border:1px solid #7e7e7e;
  color:#444444;
  font-size:14px;
  opacity:1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.solid-primary-bg .form-control,
.pattern-primary-bg .form-control,
.solid-secondary-bg .form-control,
.pattern-secondary-bg .form-control,
.parallax .form-control{
	background:none;
	border:5px solid #fff;
	color:#fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.solid-primary-bg .form-control:-moz-placeholder,
.pattern-primary-bg .form-control:-moz-placeholder,
.solid-secondary-bg .form-control:-moz-placeholder,
.pattern-secondary-bg .form-control:-moz-placeholder,
.parallax .form-control:-moz-placeholder{
  color: #fff;
}

.solid-primary-bg .form-control::-moz-placeholder,
.pattern-primary-bg .form-control::-moz-placeholder,
.solid-secondary-bg .form-control::-moz-placeholder,
.pattern-secondary-bg .form-control::-moz-placeholder,
.parallax .form-contro::-moz-placeholder{
  color: #fff;
}

.solid-primary-bg .form-control:-ms-input-placeholder,
.pattern-primary-bg .form-control:-ms-input-placeholder,
.solid-secondary-bg .form-control:-ms-input-placeholder,
.pattern-secondary-bg .form-control:-ms-input-placeholder,
.parallax .form-control:-ms-input-placeholder{
  color: #fff;
}

.solid-primary-bg .form-control::-webkit-input-placeholder,
.pattern-primary-bg .form-control:-webkit-input-placeholder,
.solid-secondary-bg .form-control:-webkit-input-placeholder,
.pattern-secondary-bg .form-control:-webkit-input-placeholder,
.parallax .form-control:-webkit-input-placeholder{
  color: #fff;
}

.form-control:focus{
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea.form-control{
  border-radius:10px;
}

/*
Button
=========================== */
.btn {
	background:#fff;
	border-radius:40px;
	letter-spacing:1px;
	border:3px solid #fff;
	font-weight:700;
	font-size:14px;
	line-height:22px;
	padding:5px 25px 5px 25px;
	color:#23262a;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn:hover{
	color:#fff;
	background:#23262a;
	border:3px solid #23262a;
}

.btn-primary,
.btn-secondary,
.btn-primary:focus,
.btn-secondary:focus,
.btn-primary:active,
.btn-secondary:active{
  color: #fff;
}

.btn-bordered{
	background:none;
	border:3px solid #fff;
	color:#fff;
}

.btn-primary.btn-bordered {
	background:none;
}

.btn-bordered:hover,
.btn-primary.btn-bordered:hover{
	background:none;
	color:#23262a;
	border:3px solid #23262a;
}

.btn-md{
	font-size:18px;
	line-height:24px;
	padding:10px 35px 13px 35px;
}

.btn,
.btn:focus,
.btn:active,
.btn:hover{
	outline:none;
}
