.featured{
	background-position:0 0;
	background-repeat:repeat;
	background-attachment:fixed;
	color:#fff;
	text-align:center;
	padding:0;
	margin:0;
	height:auto;
	width: 100%;
	position: relative;
}

.featured > .inner
{
	background:rgba(53, 57, 48, 0.45);
}

.pattern-bg{
	background-image:url(/images/icon-pattern.png);
}

.parallax-featured{
	background-image:url(/images/parallax-bg1.jpg);
	background-size: cover;
}

.intro{
	padding:0 20px 0 20px;
}

.intro h3{
	font-size: 27px;
	line-height: 50px;
	color: #fff;
	letter-spacing: 3px;
	padding-top: 50px;
	font-weight: 400;
	margin:0;
}

.intro h3 small
{
	font-weight: normal;
	color:#fff;
}

.intro .btn{
	margin:0 5px 0 5px;
}

.intro-list{
	margin:0 0 40px 0;
	padding:0;
}

.intro-list li{
	list-style:none;
	margin:0 0 10px 0;
	padding:0;
	font-size:18px;
	line-height:24px;
	font-weight:700;
}

.intro-list li span{
	font-weight:400;
}

.intro-list li i{
	margin-right:5px;
}

/*
Request form
=========================== */
.request-form{
	float:left;
	color:#2f2f2f;
	font-size:14px;
	text-align:left;
	width:100%;
	background:#fff;
	position:relative;
	margin:0 0 60px 0;
	padding:20px;
	border-radius:2px;
	-webkit-box-shadow: 15px 15px 0 rgba( 56, 63, 69, 0.08);
	   -moz-box-shadow: 15px 15px 0 rgba( 56, 63, 69, 0.08);
	        box-shadow: 15px 15px 0 rgba( 56, 63, 69, 0.08);
}

ul.listcontrol{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

ul.listcontrol li{
	float:left;
	width:100%;
	position:relative;
	list-style:none;
	margin:0 0 20px 0;
	padding:0;
	background:none;
}

ul.listcontrol li label{
	color:#2f2f2f;
	font-weight:400;
	font-size:18px;
	padding:0;
	background:none;
	background-image:none;
}

ul.listcontrol li .form-control{
 height:45px;
  border-radius:40px;
  border:1px solid #7e7e7e;
  color:#161616;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

ul.listcontrol li .form-control:focus{
	border:1px solid;
}

#sendrequest{
	display:none;
}

#sendrequest.show,.show  {
	display:block;
}

/*
Contain
=========================== */
.white-bg{
	background:#fff;
	position:relative;
	margin:0;
	padding:40px 0;
}

.solid-primary-bg,
.solid-secondary-bg{
	background-image:url(/images/dark-trans.png);
	background-repeat:repeat;
	background-position:0 0;
	color:#fff;
	margin:0;
	padding:30px 0 30px 0;
}

.pattern-primary-bg,
.pattern-secondary-bg{
	background-image:url(/images/icon-pattern.png);
	background-position:0 0;
	background-repeat:repeat;
	color:#fff;
	margin:0;
	padding:20px 0 20px 0;
}

/*
Counter
=========================== */
.counter-number,
.counter-text{
	font-weight:700;
	display:block;
	text-align:center;
	font-size:24px;
	line-height:28px;
}

.counter-text{
	font-weight:400;
	font-size:18px;
	line-height:24px;
}

/*
Features
=========================== */
.feature-box{
	position:relative;
	display:block;
	margin:0 0 60px 0;
	padding:0;
	width:100%;
	height:auto;
}

.feature-box p
{
	text-align: justify;
}

/*
Screenshot
=========================== */
.screenshot{
	background-image:url(/images/icon-pattern.png);
	background-position:0 0;
	background-repeat:repeat;
	color:#fff;
	margin:0;
	padding:0;
}

.img-wrapper{
	display:block;
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%;
}

.img-caption{
	position:absolute;
	background:rgba(13,13, 13, 0.9);
	color:#fff;
	width:100%;
	height:100%;
	padding:0 40px 0 40px;
	top:0;
	left:-100%;
	text-align:center;
}

.img-caption .zoom{
	position:absolute;
	display:inline-block;
	color:#fff;
	width:65px;
	height:65px;
	border:5px solid #fff;
	border-radius:50%;
	font-size:28px;
	line-height:50px;
	left:50%;
	top:46%;
	margin-left:-32.5px;
	margin-top:-32.5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.img-caption .zoom:hover,
.img-caption .zoom:focus{
	text-decoration:none;
}

.image-title{
	color:#fff;
	position:absolute;
	display:inline-block;
	font-size:18px;
	line-height:26px;
	font-weight:400;
	width:90%;
	text-align:center;
	bottom:40%;
	left:5%;
	margin-bottom:-30px;
}

.image-title a,
.image-title a:focus{
	color:#fff;
}

/*
Testimoni
=========================== */
.img-testimoni{
	position:relative;
	display:inline-block;
	background:#fff;
	padding:5px;
	width: 128px;
	height: 128px;
	border-radius:2px;
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);
	text-align:center;
	margin-bottom:30px;
}

.img-testimoni a i{
	background:rgba(0, 0, 0, 0.3);
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);
	position:absolute;
	color:#fff;
	z-index:999;
	width:96px;
	height:96px;
	border:8px solid #fff;
	border-radius:50%;
	font-size:42px;
	line-height:64px;
	text-align:center;
	padding-top:10px;
	left:50%;
	top:50%;
	margin:-48px 0 0 -48px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.img-testimoni a{
	color:#fff;
}

/*
Pattner
=========================== */
.client-list{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.client-list li{
	display:inline-block;
	list-style:none;
	margin:0 10px 0 10px;
	padding:0;
}

.client-link{
	position:relative;
	margin:0;
	padding:0;
	display:block;
	text-align:center;
}

.logo-hover{
	position:absolute;
	left:50%;
	margin-left:-54px;
}

/*
Parallax
=========================== */
.parallax{
	background: url(/images/parallax-bg.jpg) 0 0 no-repeat fixed;
	color: #fff;
	height:317px;
	margin: 0 auto;
	padding:80px 0 80px 0;
	overflow: auto;
	width: 100%;
}

/*
Subscribe form
=========================== */
.subscribe-form{
	width:90%;
	position:relative;
	margin:0 auto;
}

input.subscribe{
	position:relative;
	width:100%;
	border:none;
	background:none;
	padding:20px;
	border-radius:40px;
	border:5px solid #fff;
	font-size:14px;
	color:#fff;
}

input.subscribe:-moz-placeholder {
  color: #fff;
}

input.subscribe::-moz-placeholder {
  color: #fff;
}

input.subscribe:-ms-input-placeholder {
  color: #fff;
}

input.subscribe::-webkit-input-placeholder {
  color: #fff;
}

.subscribe-button{
	position:absolute;
	padding:15px 35px 16px 35px;
	border-radius:40px;
	font-size:18px;
	line-height:22px;
	font-weight:700;
	border:none;
	right:10px;
	top:10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.subscribe-button:hover{
	color:#fff;
	background:#23262a;
}

/*
Footer
=========================== */
footer{
	background:#23262a;
	color:#5b626d;
	position:relative;
	margin:0;
	padding:80px 0 60px 0;
	text-align:center;
}

.social-network{
	display:inline-block;
	width:120px;
	height:120px;
	background:none;
	border:10px solid #5e666d;
	border-radius:50%;
	color:#5e666d;
	font-size:60px;
	line-height:96px;
	font-weight:700;
	margin:20px 10px 0 10px;
}

.social-network:hover,
.social-network:focus,
.social-network:active{
	outline:none;
	text-transform:uppercase;
}

ul.footer-link{
	float:left;
	width:100%;
	margin:60px 0 20px 0;
	padding:0;
}

ul.footer-link li{
	background:url(/images/footer-link.png) no-repeat 0 2px;
	display:inline-block;
	margin:0;
	padding:0 15px 0 15px;
	list-style:none;
}

ul.footer-link li.first{
	background:none;
}

ul.footer-link li a{
	color:#5b626d;
}

/*
Browser icons
=========================== */
.icons{
	display: inline-block;
	width: 180px;
	height: 145px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(/images/icons/sprites.png);
	background-repeat: no-repeat;
}

.icons.icon-iphone{
  background-position: 0 0;
}

.icons.icon-download{
  background-position: -180px 0;
}

.icons.icon-code{
  background-position: -360px 0;
}

.icons.icon-cogs{
  background-position: -540px 0;
}

.icons.icon-pencil{
  background-position: -720px 0;
}

.icons.icon-setting{
  background-position: 0 -145px;
}

.icons.icon-chart{
  background-position: -180px -145px;
}

.icons.icon-image{
  background-position: -360px -145px;
}

.icons.icon-profile{
  background-position: -540px -145px;
}

.icons.icon-shopping{
  background-position: -720px -145px;
}

.icons.icon-document{
  background-position: 0 -290px;
}

.icons.icon-print{
  background-position: -180px -290px;
}

.icons.icon-lab{
  background-position: -360px -290px;
}

.icons.icon-calendar{
  background-position: -540px -290px;
}

.icons.icon-photo{
  background-position: -720px -290px;
}

.icons.icon-trash{
  background-position: 0 -435px;
}

.icons.icon-eye{
  background-position: -180px -435px;
}

.icons.icon-home{
  background-position: -360px -435px;
}

.icons.icon-truck{
  background-position: -540px -435px;
}

.icons.icon-clock{
  background-position: -720px -435px;
}

.icons.icon-gift{
  background-position: 0 -580px;
}

.icons.icon-globe{
  background-position: -180px -580px;
}

.icons.icon-plane{
  background-position: -360px -580px;
}

.icons.icon-folder{
  background-position: -540px -580px;
}

.icons.icon-briefcase{
  background-position: -720px -580px;
}

.icons.icon-flag{
  background-position: 0 -725px;
}

.icons.icon-upload{
  background-position: -180px -725px;
}

.icons.icon-wrench{
  background-position: -360px -725px;
}

.icons.icon-comment{
  background-position: -540px -725px;
}

.icons.icon-check{
  background-position: -720px -725px;
}

.icon-center{
	margin-bottom:20px;
}

.icon-left{
	float:left;
	margin:0 20px 20px 0;
}

.icon-right{
	float:right;
	margin:0 0 20px 20px;
}

/*
Custom fontawesome
=========================== */
.icon-counter{
	width:130px;
	height:130px;
	border:10px solid;
	border-radius:50%;
	text-align:center;
	font-size:52px;
	line-height:72px;
	padding-top:20px;
	margin-bottom:20px
}

.icon-feature{
	background:#fff;
	width:80px;
	height:80px;
	border-radius:50%;
	text-align:center;
	font-size:42px;
	line-height:58px;
	padding-top:10px;
}

/*
Heading
=========================== */
.heading{
	margin:0 0 60px 0;
}

.heading-page{
	background-image:url(/images/icon-pattern.png);
	background-position:0 0;
	background-repeat:repeat;
	color:#fff;
	margin:0;
	padding:128px 0 20px 0;
}

.heading-page h1,
.heading-page h2,
.heading-page h3,
.heading-page h4,
.heading-page h5,
.heading-page h6{
	color:#fff;
	margin-bottom:5px;
}

.heading-page i.head-title{
	background:#fff;
	float:left;
	font-size:28px;
	line-height:52px;
	width:54px;
	height:54px;
	border-radius:50%;
	text-align:center;
	margin:5px 15px 20px 0;
}

/*
Search
=========================== */
.search-form{
	position:relative;
	float:right;
	margin:5px 0 0 0;
	padding:0;
}

.search{
	float:left;
	width:250px;
	border:3px solid #fff;
	background:none;
	padding:10px 20px 10px 20px;
	color:#fff;
	border-radius:40px;
}

.search-button{
	position:absolute;
	width:23px;
	height:22px;
	font-size:24px;
	line-height:24px;
	background:none;
	border:none;
	top:10px;
	right:20px;
	z-index:999;
	color:#fff;
}

/*
Team
=========================== */
.team-list{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.team-list li{
	border-bottom:1px solid rgba(255, 255, 255, 0.3);
	list-style:none;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.team-list li.list-bottom{
	border-bottom:none;
}

.team-list li ul li{
	border-left:1px solid rgba(255, 255, 255, 0.3);
	border-bottom:none;
	list-style:none;
	float:left;
	width: 33.33333333333333%;
	margin:0;
	padding:30px;
	text-align:center;
}

.team-list li ul li.first{
	border-left:none;
}

.team-wrapper{
	position:relative;
	overflow:hidden;
	border-radius:4px;
	width:250px;
	height:250px;
	margin:0 auto;
}

.team-caption{
	position:absolute;
	background:rgba(13,13, 13, 0.9);
	color:#fff;
	z-index:21;
	width:100%;
	height:100%;
	padding-top:35px;
}

.team-caption span.team-name,
.team-caption span.team-position{
	display:block;
	width:100%;
	text-align:center;
	font-size:18px;
	line-height:22px;
	font-weight:700;
	margin:40px 0 5px 0;
}

.team-caption span.team-position{
	background:none;
	font-size:14px;
	line-height:14px;
	font-style:italic;
	padding:0;
	margin:0;
	font-weight:400;
	margin-bottom:15px;
}

.team-caption i{
	font-size:16px;
	line-height:30px;
	width:30px;
	height:30px;
	background:#fff;
	border-radius:50%;
	margin:0 5px 0 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.team-caption i:hover{
	color:#fff;
}

/*
Services
=========================== */
.services-box{
	display:block;
	border:1px solid #d8d8d8;
	border-radius:4px;
	padding:30px 20px 30px 20px;
	position:relative;
	margin-bottom:30px;
}

/*
Blog
=========================== */
.article-wrapper{
	position:relative;
	float:left;
	width:80%;
	height:auto;
	padding-bottom:80px;
	margin-bottom:80px;
}

.article-wrapper.singlepost{
	width:100%;
	margin-bottom:20px;
	padding:0;
}

.article-wrapper .img-thumbs{
	max-width:100%;
	height:auto;
	display:inline-block;
	border-radius:4px;
}

.article-wrapper.singlepost .img-thumbs{
	margin-bottom:30px;
}

article{
	width:100%;
	position:relative;
}

article.post{
	background:rgba(13,13, 13, 0.9);
	color:#fff;
	position:absolute;
	width:60%;
	height:auto;
	z-index:99;
	bottom:30px;
	right:-20%;
	padding:30px;
	border-radius:4px;
}

article h1 a,
article h2 a,
article h3 a,
article h4 a,
article h4 a,
article h5 a,
article h5 a{
	color:#111111;
}

article.post h1,
article.post h2,
article.post h3,
article.post h4,
article.post h5,
article.post h6,
article.post h1 a,
article.post h2 a,
article.post h3 a,
article.post h4 a,
article.post h5 a,
article.post h6 a{
	color:#fff;
}

.post-meta{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.post-meta li{
	float:left;
	list-style:none;
	margin:0 15px 20px 0;
	padding:0;
	font-size:12px;
	font-style:italic;
	line-height:18px;
}

.post-meta li i{
	margin-right:5px;
}

article.post  .post-meta li a{
	color:#fff;
}

.related{
	float:left;
	width:100%;
	margin:0;
	padding:30px;
	border:1px solid #d8d8d8;
}

.related h6 a{
	color:#111111;
}

/*
Comments
=========================== */
.comment-wrapper .media {
	position:relative;
	margin:0 0 30px 0;
	padding:30px 30px 10px 30px;
	border:3px solid #fff;
	border-radius:2px;
}
.comment-wrapper .media .media{
	margin:0 0 20px 0;
}

.comment-wrapper .media label{
	color:#2c323a;
}

.media-body{
	margin:0;
	padding:0;
}

.media-heading{
	font-size:18px;
	width:100%;
	margin:0 0 10px 0;
}
.media-heading h6{
	color:#fff;
	margin:0;
}

.media-heading h6 a{
	color:#fff;
}

.media-avatar{
	float:left;
	text-align:center;
	width:50px;
	margin:0 20px 20px 0;
	padding:0;
}

/*
Contact
=========================== */
.map-grid iframe{
	width:100%;
	height:350px;
	border:none;
	margin:-80px 0 80px 0;
	padding:0;
}

ul.listForm{
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
}

ul.listForm li {
	float:left;
	width:100%;
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}

.btn-submit{
	background:none;
	border-radius:40px;
	font-weight:700;
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border:5px solid #fff;
	font-size:24px;
	line-height:36px;
	padding:10px 35px 15px 35px;
}

#sendmessage{
	display:none;
}

#sendmessage.show,.show  {
	display:block;
}

/*
Pricing table
=========================== */
.pricing-box{
	position:relative;
	margin:0 0 40px 0;
	padding:0;
	text-align:center;
	border:8px solid #d8d8d8;
	border-radius:8px;
	padding:0 20px 0 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.pricing-box.popular,
.pricing-box:hover{
	border:8px solid;
}

.pricing-box li{
	background:none;
	border:none;
	border-top:1px solid #d8d8d8;
	list-style:none;
	margin:0;
	padding:20px;
}

.pricing-box li.pricing-head{
	background:none;
	border:none;
	border-top:0;
	color:#111111;
	position:relative;
	font-size:28px;
	font-weight:600;
	padding:60px 20px 20px 20px;
}

.pricing-box li.pricing-head span{
	font-size:11px;
	display:block;
	width:100%;
	font-style:italic;
	color:#111111;
	font-weight:400;
	margin-top:5px;
}

.pricing-box li.pricing-head span.price{
	position:absolute;
	color:#fff;
	font-size:24px;
	line-height:24px;
	width:80px;
	height:80px;
	border-radius:50%;
	border:5px solid #fff;
	padding-top:25px;
	z-index:3;
	left:50%;
	top:0;
	margin-left:-40px;
	margin-top:-40px;
}

/*
Sign in form
=========================== */
.login-wrapper{
	background-image:url(/images/icon-pattern.png);
	background-position:0 0;
	background-repeat:repeat;
	color:#fff;
	margin:0;
	padding:168px 0 80px 0;
	text-align:center;
	margin-top:-4px;
}

.form-signin-heading{
	color:#fff;
	margin-bottom:80px;
}

.form-signin {
  position:relative;
  max-width: 330px;
  padding: 75px 20px 35px 20px;
  margin: 0 auto;
  margin-top:0;
  margin-bottom:100px;
  background:#fff;
  border-radius:10px;
  color:#444444;
  text-align:left;
}
.form-signin,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px 20px 10px 20px;
  height:50px;
  border-radius:40px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
	margin-bottom: 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.form-signin input[type="password"] {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.icon-signin{
	position:absolute;
	background:#fff;
	width:82px;
	height:82px;
	font-size:42px;
	line-height:74px;
	border:5px solid;
	border-radius:50%;
	text-align:center;
	top:-46px;
	left:50%;
	margin-left:-46px;
}

/*
Register
=========================== */
.register-wrapper{
	float:left;
	position:relative;
	width:100%;
	height:auto;
	margin:0 auto;
	text-align:left;
	color:#444;
	background:#fff;
}

.register-image{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.register-contain{
	float:left;
	width:100%;
	margin:0;
	padding:30px;
}

.register-contain label{
	color:#111111;
	font-size:14px;
	line-height:22px;
	margin-bottom:10px;
}

/*
Animation
=========================== */
.animate-demo{
	background:#edf0f3;
	color:#111111;
	text-align:center;
	font-size:18px;
	font-weight:700;
	width:220px;
	height:220px;
	margin:0 auto;
	margin-bottom:80px;
	padding:80px 0 80px 0;
	border-radius:50%;
}

/*
Totop
=========================== */
#toTop{
	display:none;
	text-decoration:none;
	z-index:600;
	position:fixed;
	bottom:20px;
	right:20px;
	overflow:hidden;
	width:45px;
	height:45px;
	border:none;
	text-indent:-999px;
	background-image:url(/images/ui.totop.png);
	background-repeat:no-repeat;
	background-position: 0 0;
	background-color:#41484e;
	border-radius:5px;
}

#toTopHover{
	background-image:url(/images/ui.totop.png);
	background-repeat:no-repeat;
	background-position: left -45px;
	width:45px;
	height:45px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus{
	outline:none;
}

/*
Clear spacer
=========================== */
.margin-clear{
	margin:0;
}

.padding-clear{
	padding:0;
}

.margintop-clear{
	margin-top:0;
}

.paddingtop-clear{
	padding-top:0;
}

.marginbot-clear{
	margin-bottom:0;
}

.paddingbot-clear{
	padding-bottom:0;
}

.marginbot-min40{
	margin-bottom:-40px;
}

.margintop-min15{
	margin-top:-15px;
}

/*
Custom top spacer
=========================== */
.margintop5{
	margin-top:5px;
}

.margintop10{
	margin-top:10px;
}

.margintop15{
	margin-top:15px;
}

.margintop20{
	margin-top:20px;
}

.margintop25{
	margin-top:25px;
}

.margintop30{
	margin-top:30px;
}

.margintop35{
	margin-top:35px;
}

.margintop40{
	margin-top:40px;
}

.margintop45{
	margin-top:45px;
}

.margintop50{
	margin-top:50px;
}

.margintop55{
	margin-top:55px;
}

.margintop60{
	margin-top:60px;
}

.margintop80{
	margin-top:80px;
}

/*
Custom bottom spacer
=========================== */
.marginbot5{
	margin-bottom:5px;
}

.marginbot10{
	margin-bottom:10px;
}

.marginbot15{
	margin-bottom:15px;
}

.marginbot20{
	margin-bottom:20px;
}

.marginbot25{
	margin-bottom:25px;
}

.marginbot30{
	margin-bottom:30px;
}

.marginbot35{
	margin-bottom:35px;
}

.marginbot40{
	margin-bottom:40px;
}

.marginbot45{
	margin-bottom:45px;
}

.marginbot50{
	margin-bottom:50px;
}

.marginbot55{
	margin-bottom:55px;
}

.marginbot60{
	margin-bottom:60px;
}

.marginbot80{
	margin-bottom:80px;
}

/*
Custom left spacer
=========================== */
.marginleft5{
	margin-left:1px;
}

.marginleft10{
	margin-left:10px;
}

.marginleft15{
	margin-left:15px;
}

.marginleft20{
	margin-left:20px;
}

/*
Custom right spacer
=========================== */
.marginright5{
	margin-right:1px;
}

.marginright10{
	margin-right:10px;
}

.marginright15{
	margin-right:15px;
}

.marginright20{
	margin-right:20px;
}

/*
Custom responsive
=========================== */
@media (min-width: 768px) and (max-width: 990px) {
	.navbar-default .navbar-collapse {
	  display: inline-block;
	  float:left;
	}
	.navbar-default .collapse{
	  margin-top:20px;
	}
	.accordion-body.collapse{
	  display: none;
	  float:none;
	  width:auto;
	}
	.accordion-body.collapse.in {
	  display: block;
	}
	.navbar-default .navbar-collapse .nav li{
		display:none;
	}
	.navbar-default .navbar-collapse .nav select{
		display:inline-block;
		width:250px;
	}
	.counter-text{
		margin-bottom:20px;
	}
	.feature-box.text-right{
		margin:60px 0 0 0;
		text-align:left;
	}
	.feature-box .icon-right{
		float:left;
		margin:0 20px 20px 0;
	}
	.flexslider .slides .col{
		width:50%;
	}
	blockquote{
		margin-bottom:40px;
	}
	.featured{
		height:auto;
	}
	.team-wrapper{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
	}
	.team-caption{
		padding-top:0;
	}
}
@media (max-width: 767px) {
	.navbar-header{
		text-align:center;
		width:100%;
		margin:0;
		border:none;
	}
	.navbar-brand{
		float:none;
	}
	.navbar-default .navbar-collapse {
		text-align:center;
		display: inline-block;
		float:left;
		margin:0;
	}
	.navbar-default .collapse{
	  margin-top:20px;
	  width:100%;
	}
	.navbar-default .navbar-nav{
		float:left;
		width:100%;
		margin:0;
	}
	.accordion-body.collapse{
	  display: none;
	  float:none;
	  width:auto;
	}
	.accordion-body.collapse.in {
	  display: block;
	}
	.navbar-default .navbar-collapse .navbar-nav li{
		display:none;
	}
	.navbar-default .navbar-collapse .navbar-nav select{
		display:block;
		width:100%;
		margin:0;
	}
	.nav-right-area{
		float:left;
		width:100%;
		text-align:center;
		margin:20px 0 20px 0;
	}
	.nav-right-area li{
		float:none;
		display:inline-block;
		padding:0 10px 0 10px;
	}
	.counter-text{
		margin-bottom:20px;
	}
	.feature-box.text-right{
		margin:60px 0 0 0;
		text-align:left;
	}
	.feature-box .icon-right{
		float:left;
		margin:0 20px 20px 0;
	}
	.flexslider .slides .col{
		width:50%;
	}
	blockquote{
		margin-bottom:40px;
	}
	.featured{
		height:auto;
	}
	.featured > .inner
	{
		padding-top:50px;
	}
	.heading-page{
		padding:228px 0 60px 0;
	}
	.search-form{
		float:left;
	}
	.team-list{
		float:left;
		width:100%;
		text-align:center;
		margin:0;
		padding:0;
	}
	.team-list li{
		float:left;
		width:100%;
		text-align:center;
		border:none;
		margin:0;
		padding:0;
	}
	.team-list li ul{
		float:left;
		width:100%;
		margin:0;
		padding:0;
	}
	.team-list li ul li,
	.team-list li ul li.first{
		float:none;
		display:inline-block;
		border:1px solid rgba(255, 255, 255, 0.3);
		width:310px;
		width:310px;
		padding:30px;
		margin:0 0 5px 0;
	}
	.team-wrapper{
		width:250px;
		width:250px;
		margin:0;
		padding:0;
	}
	.img-testimoni{
		width:100%;
	}
	.article-wrapper{
		float:left;
		width:100%;
		margin-bottom:40px;
		padding:0;
	}
	.article-wrapper .img-thumbs{
		border-radius:4px 4px 0 0;
	}
	article.post{
		float:left;
		position:relative;
		width:100%;
		height:auto;
		z-index:99;
		bottom:0;
		right:0;
		border-radius:0 0 4px 4px;
	}
	.pagination{
		margin:0;
		width:100%;
	}
	.parallax{
		padding:40px 0 40px 0;
	}
	.parallax .btn{
		margin-bottom:10px;
	}
	.related{
		margin:0 0 30px 0;
	}
}

@media only screen and (max-width: 350px) {
	.team-list li ul{
		float:left;
		width:100%;
		margin:0;
		padding:0;
	}
	.team-list li ul li,
	.team-list li ul li.first{
		float:none;
		width:200px;
		width:200px;
		padding:5px;
	}
	.team-wrapper{
		width:100%;
		height:100%;
		margin:0;
		padding:0;
	}
	.team-caption span.team-name{
		margin-top:10px;
	}
}


.team-photo
{
	width: 128px;
	height: 128px;
	border-radius: 64px;
	border: 3px solid white;
}

.navbar-default .navbar-collapse .navbar-nav select
{
  margin-bottom: 10px;
}


.btn-register
{
  background: #3eb8b2;
  color: #fff !important;
  border-radius: 7px;
  border: 1px solid #FFFFFF;
  line-height: 40px;
  font-size: 21px;
  padding: 0 10px;
}

.navbar-default .navbar-nav li a.bt-my-account
{
    background: #3eb8b2;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 25px;
}

.bt-menu
{
    font-weight: bold;
    font-size: 2em;
    line-height: 40px;
    display: block;
    height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}

@media (max-width: 767px) {
    body
    {
        padding-top: 30px;
    }

  .navbar-header {
    padding: 5px 0 0 0;
  }

  .navbar-brand img {
    height:50px;
  }

    .navbar-default .navbar-nav li a
    {
        padding:5px;
    }

  .intro h3
  {
	  font-size: 18px;
	  line-height: 26px;
	  padding-bottom: 230px;
	  padding-top: 10px;
	  margin-top: -40px;
  }

  .intro h3 img
  {
	  position: absolute;
	  bottom: 0;
	  left: 50%;
	  margin-left: -150px;
	  width: 300px;
	  height: 225px;
  }

  .btn-register
  {
    font-size:16px;
  }

  .badge
  {
	  display: block;
	  width:80%;
	  max-width: 260px;
	  margin-bottom: 10px;
  }
}

.img-placeit-2
{
	max-width: 302px;
	max-height: 708px;
	width: 100%;
}

.badge
{
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 9px;
	font-size: 12px;
	display: inline-block;
	line-height: 20px;
	padding-left: 50px;
	color: #fff;

	transition: background-color 300ms;
}

.badge:hover
{
	text-decoration: none;
	background-color: #fff;
	color: #333 !important;
}

.badge-html5
{
	background: #3eb8b2 url(/images/html5.png) no-repeat 0 50%;
}

.badge-android
{
	background: #3eb8b2 url(/images/android.png) no-repeat 0 50%;
	background-size: 47px 57px;
}